
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300);
html{
  background: rgb(66, 66, 186);
  color: white;


}
#container{
  margin: 0 auto;
  text-align: center;
}
.title{
  font-family:'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;

  color: white;
  font-size: 60px;
}
#searchInput{
  width: 600px;
  height: 60px;
    font-family:'Roboto', sans-serif;

  font-weight: 900;
  text-align: center;
  font-size: 36px;
}

#button{
  width: 200px;
  height: 40px;
  margin-top: 30px;
  font-size: 24px;
  font-family:'Roboto', sans-serif;
  font-weight: 900;

}

#results{
  display: block;
  width: 100%;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}

.poster{
  float: left;
  display:block ;
}





